ARCH_CFLAGS:=
ARCH_CPPFLAGS:=
ARCH_LDFLAGS:=
ARCH_LIBS:=

ARCH_OBJS:=\
arch/$(ARCH)/boot.o \
arch/$(ARCH)/vga.o \
arch/$(ARCH)/_gdt.o \
arch/$(ARCH)/gdt.o \
arch/$(ARCH)/_isr.o \
arch/$(ARCH)/isr.o \
arch/$(ARCH)/_idt.o \
arch/$(ARCH)/idt.o \
arch/$(ARCH)/pic.o \
arch/$(ARCH)/multiboot.o \
arch/$(ARCH)/_paging.o \
arch/$(ARCH)/paging.o \
arch/$(ARCH)/cpuid.o \
arch/$(ARCH)/keyboard.o \
arch/$(ARCH)/heap.o \
arch/$(ARCH)/kfs.o
